* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --default-border: 1px solid rgba(0, 0, 0, 0.15);
    --default-border-radius: 1.2rem;
}

body{
    font-family: 'Roboto';
    font-size: 14px;

}

.content{
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". hero . form ."
    ". hero . form ."
    ". . . . ."
    ;
    gap: 8.5rem;
}



aside{
    grid-area: hero;
    
}


aside h1{
text-align: center;    
margin-top: 7.5rem;
font-size: 100px;
font-weight: 500;
line-height: 75px;
color: black;
}

aside h1 span, main h2 span{
    color: #FF5678;
}


main{
    grid-area: form;
}

main{
width: 60rem;
height: 52rem;
border: 0.1rem solid rgba(0, 0, 0, 0.15);
padding: 4.4rem 5.7rem;
border-radius: 1.2rem;
position: relative;
}

main h2{
    text-align: center;
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

main .actions {
    display: flex;
    flex-flow: column wrap;
}

main .actions a {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #35E6E9;
    border-radius: 1.2rem;
    height: 5.5rem;
    font-size: 2.4rem;  
    color: white; 
    text-decoration: none;
    margin-top: 5.4rem;
    
}

main .actions a + a {
    margin-top: 4.8rem;
    background-color: #FF5678;
}

main .infos p {
    font-size: 1.6rem;
    margin-top: 8rem;
    color: black;
    text-align: center;
}

main .infos a {
    color: black;
    display: block;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
}



main header{
    display: flex;
    gap: 0 1.8rem;
    align-items: center;
}

main header i{ 
    color: #FF5678;
    font-size: 2.4rem;
}

main form{
    margin-top: 1.6rem;
}

main form label{
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

main form :is(input, select) {
    width: 489px;
    height: 5.5rem;
    display: block;

    background: white;
    border-radius: var(--default-border-radius);
    border: var(--default-border);
}

main form select{
    appearance: none;
}

main .select-div{
    position: relative;
}

main form .select-div::after{
    color: #35E6E9;
    top: 1.6rem;
    right: 1.6rem;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: 'Font Awesome 6 Free';
   content: '\f107';
   position: absolute;
   z-index: 1;
}


main form .points{
    position: relative;
}

main form input + button{
    position: absolute;
    right: -3.8rem;
    top: calc(2.7rem + 2.3rem);
    background-color: transparent;
    border: none;
    color: #35E6E9;
    font-size: 2.4rem;
    cursor: pointer;
    
}