* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    font-size: 14px;

}

.content{
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". hero . form ."
    ". hero . form ."
    ". . . . ."
    ;
    gap: 8.5rem;
}



aside{
    grid-area: hero;
    
}


aside h1{
font-size: 64px;
font-weight: 500;
line-height: 75px;
color: black;
}

aside h1 span, main h2 span{
    color: #FF5678;
}


main{
    grid-area: form;
}

main{
width: 60rem;
height: 52rem;
border: 0.1rem solid rgba(0, 0, 0, 0.15);
padding: 4.4rem 5.7rem;
border-radius: 1.2rem;
}

main h2{
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

main .actions {
    display: flex;
    flex-flow: column wrap;
}

main .actions a {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #35E6E9;
    border-radius: 1.2rem;
    height: 5.5rem;
    font-size: 2.4rem;  
    color: white; 
    text-decoration: none;
    margin-top: 5.4rem;
    
}

main .actions a + a {
    margin-top: 4.8rem;
    background-color: #FF5678;
}

main .infos p {
    font-size: 1.6rem;
    margin-top: 8rem;
    color: black;
    text-align: center;
}

main .infos a {
    color: black;
    display: block;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
}